- set_meta_tags title: "Пополнение счета", description: "Пополнение счета кредитной картой" , keywords: "Крыминфоком, Инфоком, Infocom, Crimeainfocom, пополнить баланс, статистика, личный кабинет"
= ecconnect_form @ecconnect_payment
:javascript
  $(function(){
    $('input').last().addClass('contact_submit btn btn-primary btn-large')
  });